# CMake build files
build
CMakeCache.txt
CMakeFiles

# Temp file
*.swp

# Exported compile commands
compile_commands.json

# Python cache
__pycache__

# Model, backup, and weights files
*.backup
*.sdict
*.zip
*.pth
